
[V200R003C00]
#
 sysname Server
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
 set cpu-usage threshold 80 restore 75
#
dhcp enable
#
ip pool dept-1
 gateway-list 10.0.10.1 
 network 10.0.10.0 mask 255.255.255.0 
 dns-list 8.8.8.8 
#
ip pool dept-2
 gateway-list 10.0.20.1 
 network 10.0.20.0 mask 255.255.255.0 
 dns-list 8.8.8.8 
#
ip pool reception
 gateway-list 10.0.30.1 
 network 10.0.30.0 mask 255.255.255.0 
 dns-list 8.8.8.8 
#
ip pool ap
 gateway-list 10.0.60.1 
 network 10.0.60.0 mask 255.255.255.0 
 dns-list 8.8.8.8 
#
ip pool sta_empl
 gateway-list 10.0.40.1 
 network 10.0.40.0 mask 255.255.255.0 
 dns-list 8.8.8.8 
#
ip pool sta_quest
 gateway-list 10.0.50.1 
 network 10.0.50.0 mask 255.255.255.0 
 dns-list 8.8.8.8 
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
 ip address 10.0.80.2 255.255.255.0 
 dhcp select global
#
interface GigabitEthernet0/0/1
#
interface GigabitEthernet0/0/2
#
interface NULL0
#
ip route-static 0.0.0.0 0.0.0.0 10.0.80.1
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return